@font-face
{
  font-family: pakt;
  src: url('../fonts/Pakt/Pakt-Black.otf')
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "pakt", sans-serif;
}
#the-view {
  height: 1136px;
  width: 640px;
  background-color: #000000;
  color: #ffffff;
}

/* location page */
#location h1 {
  text-align: center;
  margin-top: 0;
  font-size: 94px;
  text-transform: uppercase;
  font-weight: normal;
}
#location label,
#location input {
  display: block;
}
#location span {
  margin: 30px 0;
}
#map-canvas, #map_canvas {
  height: 400px;
  width: 300px;
}
#location #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#address {
  margin: 30px 0;
}
#nextButton {
  padding-bottom: 30px;
}

/* end of location page */