@font-face
{
  font-family: pakt;
  src: url('../fonts/Pakt/Pakt-Black.otf')
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "pakt", sans-serif;
}
#the-view {
  height: 1136px;
  width: 640px;
  background-color: #000000;
  color: #ffffff;
}

/* location page */
#location {
  text-align: center;
  margin: 0 auto;
}
#location h1 {
  text-align: center;
  margin: 0;
  font-size: 94px;
  text-transform: uppercase;
  font-weight: normal;
}
#location h2 {
  font-size: 42px;
  font-weight: normal;
  margin-top: -20px;
  margin-bottom: 100px;
}
#location label,
#location input {
  display: block;
  margin:0 auto;
}
#location span {
  margin: 30px 0;
}
#map-canvas, #map_canvas {
  height: 500px;
  width: 500px;
  color: #000000;
}

#map-canvas {
  margin: 0 auto;
  background: #000000;
}
#location #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#doubleTap {
  font-size: 42px;
  opacity: 0.7;
  margin-top: 20px;
}
#deliverHere {
  opacity: 1;
  margin-bottom: 150px;
  margin-top: -30px;
  text-decoration: underline;
  font-size: 30px;
}
#deliverHere a {
  color: #ffffff;
  margin-left: 380px;
}
.opacity {
  opacity: 0 !important;
}
#mapCover{
  position: absolute;
  z-index: 3;
  left: 70px;
}
.hide {
  display: none;
}
#pin {
  height: 50px;
  margin-bottom: -10px;
  margin-right: 30px;
}
#arrow {
  height: 50px;
  margin-left: 50px;
  margin-bottom: -10px;
}
#nextButton {
  padding-bottom: 30px;
  color: #666666;
  text-decoration: none;
  font-size: 40px;
}

/* end of location page */